<div class="row">
    <div class="container-fluid">
        <mat-card class="p-5">
            <h1>ส่วนกฏหมายและกฏระเบียบ</h1>
            <div class="row" style="justify-content: center;">
                <div class="col-md-1"></div>
                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/Law/form']">
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/ประชาสัมพันธ์.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">ประชาสัมพันธ์</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/Regulations/form',23]">
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/law.png"><br>
                        </span>
                    </button>
                    <br><label class="sty-font">กฏหมายและ<br>กฏระเบียบ</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/Trick']">
                        <span>
                            <img matListAvatar class="avatar rounded-circle btn-hr mb-1" src="/assets/images/เกร็ดความรู้.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">เกร็ดความรู้<br>ทางกฏหมาย</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/ActivityLaw']">
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/กิจกรรมร่วมสนุก.png"><br>
                        </span>
                      </button><br>
                      <label class="sty-font">กิจกรรมร่วมสนุก</label>
                </div>

                <!-- <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/LawFormqa']">
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/Q&A.png"><br>
                        </span>
                      </button><br>
                      <label class="sty-font">Q&A</label>
                </div> -->
                <div class="col-md-1"></div>
            </div>

        </mat-card>
    </div>
</div>
