
<br><br>
<h1 class="text-center"><b style="color: rgb(240, 177, 4);">DMT</b><b style="color: white;"> INTRANET</b> </h1>
<br>
<mat-nav-list >
    <a mat-list-item [routerLink]="[ '/stock']">
        <img matListAvatar src="https://image.flaticon.com/icons/png/128/609/609803.png" alt="...">
        <span matLine class="text-uppercase color-font"> <span class="mat-h3">หน้าหลัก</span> </span>
    </a>
    <a mat-list-item [routerLink]="[ '/hr']">
        <img matListAvatar src="https://image.flaticon.com/icons/png/128/2936/2936629.png" alt="...">
        <span matLine class="text-uppercase color-font"> <span class="mat-h3">ทรัพยากรมนุษย์</span> </span>
    </a>
    <a mat-list-item [routerLink]="[ '/secretary']">
        <img matListAvatar src="https://image.flaticon.com/icons/png/128/3375/3375199.png" alt="...">
        <span matLine class="text-uppercase color-font"> <span class="mat-h3">เลขานุการ</span> </span>
    </a>
    <a mat-list-item [routerLink]="[ '/communicate']">
        <img matListAvatar src="https://image.flaticon.com/icons/png/128/2936/2936673.png" alt="...">
        <span matLine class="text-uppercase color-font"> <span class="mat-h3">สื่อสารองค์กร</span> </span>
    </a>
    <a mat-list-item [routerLink]="[ '/law']">
        <img matListAvatar src="https://image.flaticon.com/icons/png/128/2936/2936735.png" alt="...">
        <span matLine class="text-uppercase color-font"> <span class="mat-h3">กฏหมายกฏระเบียบ</span> </span>
    </a>
    <a mat-list-item [routerLink]="[ '/safety']">
        <img matListAvatar src="https://image.flaticon.com/icons/png/128/2936/2936642.png" alt="...">
        <span matLine class="text-uppercase color-font"> <span class="mat-h3">ความปลอดภัย</span> </span>
    </a>
    <a mat-list-item [routerLink]="[ '/it']">
        <img matListAvatar src="https://image.flaticon.com/icons/png/128/2009/2009042.png" alt="...">
        <span matLine class="text-uppercase color-font"> <span class="mat-h3">IT & ITS</span> </span>
    </a>
    <a mat-list-item [routerLink]="[ '/Formsqa']">
        <img matListAvatar src="https://image.flaticon.com/icons/png/512/1055/1055442.png" alt="...">
        <span matLine class="text-uppercase color-font"> <span class="mat-h3">Q & A</span> </span>
    </a>
    <a mat-list-item [routerLink]="[ '/FormAns']">
        <img matListAvatar src="https://www.flaticon.com/premium-icon/icons/svg/1321/1321765.svg" alt="...">
        <span matLine class="text-uppercase color-font"> <span class="mat-h3">Q & A Admin</span> </span>
    </a>
    <a mat-list-item [routerLink]="[ '/ImgAdmin']">
        <img matListAvatar src="https://image.flaticon.com/icons/png/512/1829/1829589.png" alt="...">
        <span matLine class="text-uppercase color-font"> <span class="mat-h3">Images Admin</span> </span>
    </a>
    <a mat-list-item [routerLink]="[ '/KmUser']">
        <img matListAvatar src="https://image.flaticon.com/icons/png/512/1946/1946042.png" alt="...">
        <span matLine class="text-uppercase color-font"> <span class="mat-h3">KM</span> </span>
    </a>
    <mat-divider></mat-divider>
</mat-nav-list>
