<div class="row">
  <div class="container-fluid">
    <mat-card class="p-5 ">
      <div class="btn-icon-clipboard">
        <div class="bg-head-label">KM</div>
        <div class="search-div" style="margin-right: 5%;margin-top: 2%;text-align: right;">
          <button mat-button (click)="openDialogKM()" style="background: palegreen;width: 15%;height: 42px;max-width: 100%;">
            <span>
              <img src="https://image.flaticon.com/icons/png/512/1237/1237946.png" style="width: 10%;">&nbsp;&nbsp;
              <label>create</label>
            </span>
          </button>
          <mat-form-field class="search-form-field">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button *ngIf="searchKey == null">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="mat-elevation-z8" style="margin: 0% 5% 5% 5%;">
          <mat-table [dataSource]="data" matSort>
            <ng-container matColumnDef="title">
              <mat-header-cell style="justify-content: center;" *matHeaderCellDef mat-sort-header="subject"> เรื่อง </mat-header-cell>
              <mat-cell style="justify-content: center;" *matCellDef="let element"> {{element.subject}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="department">
              <mat-header-cell style="justify-content: center;" *matHeaderCellDef mat-sort-header="depName">   ฝ่าย </mat-header-cell>
              <mat-cell style="justify-content: center;" *matCellDef="let element"> {{element.depName}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="pdf">
              <mat-header-cell style="justify-content: center;" *matHeaderCellDef> PDF </mat-header-cell>
              <mat-cell style="justify-content: center;" *matCellDef="let element"> 
                <div *ngIf="element.pdfPath != null">
                  <a href="https://localhost:44335/{{element.pdfPath}}" target="_blank">
                    <mat-icon style="color: #9c27b0;">download</mat-icon>
                  </a>
                </div>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="video">
              <mat-header-cell style="justify-content: center;" *matHeaderCellDef> video </mat-header-cell>
              <mat-cell style="justify-content: center;" *matCellDef="let element">
                <div *ngIf="element.videoPath != null">
                  <a href="https://localhost:44335/{{element.videoPath}}" target="_blank">
                    <mat-icon style="color: #9c27b0;">download</mat-icon>
                  </a>
                </div>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="btn">
              <mat-header-cell style="justify-content: center;" *matHeaderCellDef ></mat-header-cell>
              <mat-cell style="justify-content: center;" *matCellDef="let element"> 
                <button class="btn-delete" (click)="openDialogKMEdit(element.idKM)"><mat-icon>edit</mat-icon></button>&nbsp;&nbsp;&nbsp;
                <button class="btn-delete" (click)="deleteKM(element.idKM)"><mat-icon>delete</mat-icon></button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </mat-card>
  </div>
</div>
