<div class="row">
    <div class="container-fluid">
        <mat-card class="p-5 ">
            <h1>เกี่ยวกับความปลอดภัย/แบบฟอร์ม</h1>

            <div class="btn-icon-clipboard">
                <div class="row" style="padding-right: 5%;padding-left: 5%;padding-top: 2%;">
                    <div class="col-md-4 text-center">
                        <button mat-button [routerLink]="['/SafetyAll']"> 
                            <span><img src="/assets/images/dictionary1.png"></span>
                        </button><br>
                        <label class="sty-font">เกี่ยวข้องความปลอดภัย</label>
                    </div>

                    <div class="col-md-4 text-center">
                        <button mat-button [routerLink]="['/PpeTool']">
                            <span><img src="/assets/images/doctor.png"></span>
                        </button><br>
                        <label class="sty-font">อุปกรณ์ PPE</label>
                    </div>

                    <div class="col-md-4 text-center">
                        <button mat-button [routerLink]="['/FormSafety',39]">
                            <span><img src="/assets/images/edit (1).png"></span>
                        </button><br>
                        <label class="sty-font">แบบฟอร์มต่างๆ</label>
                    </div>
                </div>

            </div>
            

        </mat-card>
    </div>
</div>