<div class="row">
    <div class="container-fluid">
        <mat-card class="p-5 ">
            <div class="btn-icon-clipboard">
                <button class="btn-exit"  [routerLink]="[ '/law']">X</button>
                <div class="bg-head-label">Q&A</div>
                <div class="row btn-createqa"><button class="btn-set-qa" mat-button (click)="openDialoglaw()">+ ตั้งกระทู้</button></div>
                <div class="row" style="padding-right: 5%;padding-left: 5%;padding-top: 3%;">
                    <div class="col-lg-12 col-md-6">
                        Q: We believe that every project existing in digital world is a result of an idea and every idea has has a cause. 
                    </div>
                </div>
                
                <div class="row" style="padding-right: 5%;padding-left: 5%;">
                    <div class="col-lg-12 col-md-6">
                        A : Amet, consectetur adipisicing elit, sed dosmod tempor didunt ut labore et dolor dfagna iqus ad minim veniam quis. 
                        sectetur adipisicing eld do eiusmod tempor didunt ut labore et dolore magna aliqus ad minim.
                    </div>
                </div>


                <div class="row " style="padding-right: 5%;padding-left: 5%;padding-top: 3%;">
                    <div class="col-lg-12 col-md-6">
                        Q: We believe that every project existing in digital world is a result of an idea and every idea has has a cause. 
                    </div>
                </div>
                
                <div class="row" style="padding-right: 5%;padding-left: 5%;">
                    <div class="col-lg-12 col-md-6">
                        A : Amet, consectetur adipisicing elit, sed dosmod tempor didunt ut labore et dolor dfagna iqus ad minim veniam quis. 
                        sectetur adipisicing eld do eiusmod tempor didunt ut labore et dolore magna aliqus ad minim.
                    </div>
                </div>


                <div class="row " style="padding-right: 5%;padding-left: 5%;padding-top: 3%;">
                    <div class="col-lg-12 col-md-6">
                        Q: We believe that every project existing in digital world is a result of an idea and every idea has has a cause. 
                    </div>
                </div>
                
                <div class="row" style="padding-right: 5%;padding-left: 5%;">
                    <div class="col-lg-12 col-md-6">
                        A : Amet, consectetur adipisicing elit, sed dosmod tempor didunt ut labore et dolor dfagna iqus ad minim veniam quis. 
                        sectetur adipisicing eld do eiusmod tempor didunt ut labore et dolore magna aliqus ad minim.
                    </div>
                </div>

                <div class="row " style="padding-right: 5%;padding-left: 5%;padding-top: 3%;">
                    <div class="col-lg-12 col-md-6">
                        Q: We believe that every project existing in digital world is a result of an idea and every idea has has a cause. 
                    </div>
                </div>
                
                <div class="row" style="padding-right: 5%;padding-left: 5%;">
                    <div class="col-lg-12 col-md-6">
                        A : Amet, consectetur adipisicing elit, sed dosmod tempor didunt ut labore et dolor dfagna iqus ad minim veniam quis. 
                        sectetur adipisicing eld do eiusmod tempor didunt ut labore et dolore magna aliqus ad minim.
                    </div>
                </div>

                <div class="row " style="padding-right: 5%;padding-left: 5%;padding-top: 3%;">
                    <div class="col-lg-12 col-md-6">
                        Q: We believe that every project existing in digital world is a result of an idea and every idea has has a cause. 
                    </div>
                </div>
                
                <div class="row" style="padding-right: 5%;padding-left: 5%;">
                    <div class="col-lg-12 col-md-6">
                        A : Amet, consectetur adipisicing elit, sed dosmod tempor didunt ut labore et dolor dfagna iqus ad minim veniam quis. 
                        sectetur adipisicing eld do eiusmod tempor didunt ut labore et dolore magna aliqus ad minim.
                    </div>
                </div>

                <div class="row " style="padding-right: 5%;padding-left: 5%;padding-top: 3%;">
                    <div class="col-lg-12 col-md-6">
                        Q: We believe that every project existing in digital world is a result of an idea and every idea has has a cause. 
                    </div>
                </div>
                
                <div class="row" style="padding-right: 5%;padding-left: 5%;">
                    <div class="col-lg-12 col-md-6">
                        A : Amet, consectetur adipisicing elit, sed dosmod tempor didunt ut labore et dolor dfagna iqus ad minim veniam quis. 
                        sectetur adipisicing eld do eiusmod tempor didunt ut labore et dolore magna aliqus ad minim.
                    </div>
                </div>

                <div class="row " style="padding-right: 5%;padding-left: 5%;padding-top: 3%;">
                    <div class="col-lg-12 col-md-6">
                        Q: We believe that every project existing in digital world is a result of an idea and every idea has has a cause. 
                    </div>
                </div>
                
                <div class="row" style="padding-right: 5%;padding-left: 5%;">
                    <div class="col-lg-12 col-md-6">
                        A : Amet, consectetur adipisicing elit, sed dosmod tempor didunt ut labore et dolor dfagna iqus ad minim veniam quis. 
                        sectetur adipisicing eld do eiusmod tempor didunt ut labore et dolore magna aliqus ad minim.
                    </div>
                </div>
                

              
            </div>
        </mat-card>
    </div>
</div>
