<div class="row">
    <div class="container-fluid">
        <mat-card class="p-5 ">
            <h1>นโยบายการกำกับดูแลกิจการ</h1>

            <div class="btn-icon-clipboard">
                <div class="bg-head-label">นโยบายการกำกับดูแลกิจการ</div>
                <div class="row" style="padding-right: 5%;padding-left: 5%;padding-top: 2%;">
                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/dictionary.png"></span>
                        </button><br>
                        <label class="sty-font">ฉบับที่ 1</label>
                    </div>

                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/dictionary.png"></span>
                        </button><br>
                        <label class="sty-font">ฉบับที่ 2</label>
                    </div>
                    
                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/dictionary.png"></span>
                        </button><br>
                        <label class="sty-font">ฉบับที่ 3</label>
                    </div>
                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/dictionary.png"></span>
                        </button><br>
                        <label class="sty-font">ฉบับที่ 4</label>
                    </div>
                    
                </div>

                <div class="row" style="padding-right: 5%;padding-left: 5%;padding-top: 2%;">
                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/dictionary.png"></span>
                        </button><br>
                        <label class="sty-font">ฉบับที่ 5</label>
                    </div>

                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/dictionary.png"></span>
                        </button><br>
                        <label class="sty-font">ฉบับที่ 6</label>
                    </div>
                    
                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/dictionary.png"></span>
                        </button><br>
                        <label class="sty-font">ฉบับที่ 7</label>
                    </div>
                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/dictionary.png"></span>
                        </button><br>
                        <label class="sty-font">ฉบับที่ 8</label>
                    </div>
                    
                </div>
            </div>
            
            <div class="btn-icon-clipboard">
                <div class="bg-head-label">สำหรับพนักงานใหม่/การฝึกอบรมปฐมนิเทศ</div>
                <div class="row" style="padding-right: 5%;padding-left: 5%;padding-top: 2%;">
                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/dictionary.png"></span>
                        </button><br>
                        <label class="sty-font">ฉบับที่ 1</label>
                    </div>

                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/dictionary.png"></span>
                        </button><br>
                        <label class="sty-font">ฉบับที่ 2</label>
                    </div>
                    
                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/dictionary.png"></span>
                        </button><br>
                        <label class="sty-font">ฉบับที่ 3</label>
                    </div>
                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/dictionary.png"></span>
                        </button><br>
                        <label class="sty-font">ฉบับที่ 4</label>
                    </div>
                    
                </div>

                <div class="row" style="padding-right: 5%;padding-left: 5%;padding-top: 2%;">
                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/dictionary.png"></span>
                        </button><br>
                        <label class="sty-font">ฉบับที่ 5</label>
                    </div>

                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/dictionary.png"></span>
                        </button><br>
                        <label class="sty-font">ฉบับที่ 6</label>
                    </div>
                    
                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/dictionary.png"></span>
                        </button><br>
                        <label class="sty-font">ฉบับที่ 7</label>
                    </div>
                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/dictionary.png"></span>
                        </button><br>
                        <label class="sty-font">ฉบับที่ 8</label>
                    </div>
                    
                </div>
            </div>

        </mat-card>
    </div>
</div>