<div class="row">
    <div class="container-fluid">
        <mat-card class="p-5 ">
            <h1>Training/E-Learning</h1>

            <div class="btn-icon-clipboard">
                <div class="bg-head-label">หลักสูตรการอบรมหลักสูตรการปฏิบัติด้านการกำกับดูแลที่ดี ปี 2021</div>
                <div class="row" style="padding-right: 5%;padding-left: 5%;padding-top: 2%;">
                    <div class="col-md-3 text-center">
                       
                    </div>

                    <div class="col-md-3 text-center">
                        
                    </div>
                    
                    <div class="col-md-3 text-center">
                        
                    </div>
                    <div class="col-md-3 text-center">
                       
                    </div>
                    
                </div>

                <div class="row" style="padding-right: 5%;padding-left: 5%;padding-top: 2%;">
                    <div class="col-md-3 text-center">
                        
                    </div>

                    <div class="col-md-3 text-center">
                        
                    </div>
                    
                    <div class="col-md-3 text-center">
                       
                    </div>
                    <div class="col-md-3 text-center">
                       
                    </div>
                    
                </div>
            </div>
          
        </mat-card>
    </div>
</div>