<div class="row">
    <div class="container-fluid">
        <mat-card class="p-5">
            <h1>สำนักเลขานุการบริษัทและกำกับดูแลกิจการ</h1>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/secretary/form']">
                        <span><img class="rounded-circle btn-hr"
                            src="/assets/images/CGnew.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">CG News</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/policy/form']">
                        <span><img class="rounded-circle btn-hr"
                            src="/assets/images/นโยบาย.png"><br>
                        </span>
                    </button>
                    <br><label class="sty-font">นโยบาย <br>การกำกับดูแลกิจการ</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/training-sec/form']">
                        <span>
                            <img matListAvatar class="avatar rounded-circle btn-hr mb-1" src="/assets/images/Train&Elearing.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">Training/ <br>E-Learning</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/ActivityFormSec/14']">
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/ภาพกิจกรรม CG.png"><br>
                        </span>
                      </button><br>
                      <label class="sty-font">ภาพกิจกรรม CG</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/other-sec/form']">
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/other.png"><br>
                        </span>
                      </button><br>
                      <label class="sty-font">อื่นๆ</label>
                </div>
                <div class="col-md-1"></div>
            </div>

        </mat-card>
    </div>
</div>
