<div class="row">
    <div class="container-fluid">
        <mat-card class="p-5">
            <h1>ฝ่ายเทคโนโลยีสารสนเทศและการจราจรอัจฉริยะ</h1>
            <div class="row" style="justify-content: center;">
                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="[ '/itnews']">
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/ITnew.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">IT News</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/itPolicy']">
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/ITpolicy.png"><br>
                        </span>
                    </button>
                    <br><label class="sty-font">IT Policy</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/FormsIt']">
                        <span>
                            <img matListAvatar class="avatar rounded-circle btn-hr mb-1" src="/assets/images/แบบฟอร์ม.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">แบบฟอร์ม</label>
                </div>

                <!-- <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/ItFormqa']">
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/Q&AIT.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">Q&A</label>
                </div> -->
            </div>

        </mat-card>
    </div>
</div>
