<div class="row">
    <div class="container-fluid">
        <mat-card class="p-5 ">
            <h1>นโยบายการกำกับดูแลกิจการ</h1>

            <div class="btn-icon-clipboard">
                <div class="bg-head-label">อื่นๆ</div>
                <div class="row" style="padding-right: 5%;padding-left: 5%;padding-top: 2%;">
                    <div class="col-md-6 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/seo-report.png"></span>
                        </button><br>
                        <label class="sty-font">IPO</label>
                    </div>

                    <div class="col-md-6 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/seo-report.png"></span>
                        </button><br>
                        <label class="sty-font">ISO</label>
                    </div>
                </div>

            </div>
            

        </mat-card>
    </div>
</div>