<div class="row">
    <div class="container-fluid">
        <mat-card class="p-5 ">
            <h1>ค่านิยมองค์กร</h1>
            <div style="text-align: right;padding-bottom: 2%;">
                <button mat-button style="background: palegreen;width: 10%;height: 42px;max-width: 100%;" (click)="openDialogPop(5)">
                    <span>
                        <img src="https://image.flaticon.com/icons/png/512/1237/1237946.png"
                            style="width: 10%;">&nbsp;&nbsp;
                        <label>create</label>
                    </span>
                </button>
            </div>
            <div class="row" style="justify-content: center;" *ngFor="let item of data">
                <div class="col-md-6" *ngIf="item.URLPath != null">
                    <button class="btn-icon-clipboard">
                        <a href="{{item.URLPath}}" target="_blank">
                            <div class="row sty-font" style="line-height: 79px;justify-content: center;">
                                {{item.subject}}
                            </div>
                        </a>
                    </button>
                </div>
                <div class="col-md-6" *ngIf="item.filePath != null">
                    <button class="btn-icon-clipboard">
                        <a href="https://localhost:44335/{{item.filePath}}" target="_blank">
                            <div class="row sty-font" style="line-height: 79px;justify-content: center;">
                                {{item.subject}}
                            </div>
                        </a>
                    </button>
                </div>
            </div>

        </mat-card>
    </div>
</div>