<div class="row">
    <div class="container-fluid">
        <mat-card class="p-5 ">
            <div class="btn-icon-clipboard">
                <button class="btn-exit"  [routerLink]="[ '/safety']">X</button>
                <div class="bg-head-label">ภาพกิจกรรม Safety</div>
                
                <div class="row " style="padding-right: 5%;padding-left: 5%;padding-top: 2%;justify-content: center;" (click)="lightbox.open(0)">
                    <div class="col-md-4 text-center " style="margin-left: 4%;" *ngFor="let item of val"> 
                        <div class="polaroid" (click)="openImgSafe(item.id)">
                        <label> 
                            <img src="https://localhost:44335/{{item.imgMain_Path}}" style="width:100%">
                        </label><br>
                        <div class="container-sty">โครงการ {{item.topicDetail}}</div>
                        </div>
                    </div>
                </div>

            </div>
        </mat-card>
    </div>
</div>
