<div class="row">
    <div class="container-fluid">
        <mat-card class="p-5 ">
            <h1>Training & Development</h1>

            <div class="row-12">
                <button class="btn-icon-clipboard" mat-button (click)="openDialogtrain()">
                    <div class="row">
                        <div class="col-md-12 sty-font">E-Learning</div>
                    </div>
                </button>
            </div>

            <div class="row-12">
                <button class="btn-icon-clipboard">
                    <div class="row">
                        <div class="col-md-12 sty-font">สำหรับพนักงานใหม่/การฝึกอบรมปฐมนิเทศ</div>
                    </div>
                </button>
            </div>

            <div class="row-12">
                <button class="btn-icon-clipboard" >
                    <div class="row">
                        <div class="col-md-12 sty-font">Career Path/หลักสูตรฝึกอบรมต่างๆ</div>
                    </div>
                </button>
            </div>

            <div class="row-12">
                <button class="btn-icon-clipboard" >
                    <div class="row">
                        <div class="col-md-12 sty-font">หลักสูตรอบรมภายนอกที่น่าสนใจ</div>
                    </div>
                </button>
            </div>

            <div class="row-12">
                <button class="btn-icon-clipboard" >
                    <div class="row">
                        <div class="col-md-12 sty-font">เอกสารประกอบการบรรยายหลักสูตรอบรมภายใน</div>
                    </div>
                </button>
            </div>

            <div class="row-12">
                <button class="btn-icon-clipboard" >
                    <div class="row">
                        <div class="col-md-12 sty-font">ขั้นตอนการขออนุมัติฝึกอบรม/แบบฟอร์มขออนุมัติฝึกอบรมภายในและภายนอก</div>
                    </div>
                </button>
            </div>

            <div class="row-12">
                <button class="btn-icon-clipboard" >
                    <div class="row">
                        <div class="col-md-12 sty-font">การอบรม Online ภายนอก (สำนักงาน ก.พ. และ Thaimooc)</div>
                    </div>
                </button>
            </div>
        </mat-card>
    </div>
</div>