<div class="row">
    <div class="container-fluid">
        <mat-card class="p-5">
                <h1>ส่วนความปลอดภัย อาชีวอนามัย และสิ่งแวดล้อม</h1>
            <div class="row" style="justify-content: center;">
                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/SatetyNew']">
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/ประชาสัมพันธ์ SAfe.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">ประชาสัมพันธ์</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/AboutSafety']">
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/เกี่ยวกับความปลอดภัย.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">เกี่ยวกับ<br>ความปลอดภัย</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/Calenda5s']">
                        <span>
                            <img matListAvatar class="avatar rounded-circle btn-hr mb-1" src="/assets/images/ปฏิทิน.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">ปฏิทินกิจกรรม 5 ส.</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/ClubActivity/13']" >
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/ชมรม.png"><br>
                        </span>
                      </button><br>
                      <label class="sty-font">ชมรมดนตรีกีฬา</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button>
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/บริหารความเสี่ยง.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">การบริหารความเสี่ยง</label>
                </div>
            </div>

            <div class="row" style="justify-content: center;">
                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/ProjectSafety']">
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/โครงการ.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">โครงการประจำปี</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/Award']" >
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/รางวัล.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">รางวัล</label>
                </div>

                <!-- <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/Knowledgebase']">
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/คลังความรู้.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">คลังความรู้</label>
                </div> -->

                <div class="col-md-2 text-center">
                    <button mat-button>
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/game.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">เกมส์หรรษา</label>
                </div>
            </div>

        </mat-card>
    </div>
</div>
