<div class="row">
    <div class="container-fluid">
        <mat-card class="p-5 ">
            <h1>เกร็ดความรู้ทางกฏหมาย</h1>

            <div class="btn-icon-clipboard">
                <div class="row" style="padding-right: 5%;padding-left: 5%;padding-top: 2%;">
                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/open-book.png"></span>
                        </button><br>
                        <label class="sty-font">ประจำปี 2564</label>
                    </div>

                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/open-book.png"></span>
                        </button><br>
                        <label class="sty-font">ประจำปี 2563</label>
                    </div>

                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/open-book.png"></span>
                        </button><br>
                        <label class="sty-font">ประจำปี 2562</label>
                    </div>

                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/open-book.png"></span>
                        </button><br>
                        <label class="sty-font">ประจำปี 2561</label>
                    </div>
                </div>

                <div class="row" style="padding-right: 5%;padding-left: 5%;padding-top: 2%;">
                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/open-book.png"></span>
                        </button><br>
                        <label class="sty-font">ประจำปี 2561</label>
                    </div>

                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/open-book.png"></span>
                        </button><br>
                        <label class="sty-font">ประจำปี 2560</label>
                    </div>

                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/open-book.png"></span>
                        </button><br>
                        <label class="sty-font">ประจำปี 2559</label>
                    </div>

                    <div class="col-md-3 text-center">
                        <button mat-button>
                            <span><img src="/assets/images/open-book.png"></span>
                        </button><br>
                        <label class="sty-font">ประจำปี 2558</label>
                    </div>
                </div>
            </div>
            
        </mat-card>
    </div>
</div>