<div class="row">
    <div class="container-fluid">
        <mat-card class="p-5 ">
            <h1>คำถามที่พบบ่อย</h1>

            <div class="row-12">
                <button class="btn-icon-clipboard" [routerLink]="['/SeminarQa']">
                    <div class="row">
                        <div class="col-md-12 sty-font">การอบรมสัมมนา</div>
                    </div>
                </button>
            </div>

            <div class="row-12">
                <button class="btn-icon-clipboard">
                    <div class="row">
                        <div class="col-md-12 sty-font">เก็บของตกหล่นได้ทำไง</div>
                    </div>
                </button>
            </div>

            <div class="row-12">
                <button class="btn-icon-clipboard" >
                    <div class="row">
                        <div class="col-md-12 sty-font">บัตรพนักงาน</div>
                    </div>
                </button>
            </div>

            <div class="row-12">
                <button class="btn-icon-clipboard" >
                    <div class="row">
                        <div class="col-md-12 sty-font">การผ่านเข้าประตู</div>
                    </div>
                </button>
            </div>

            <div class="row-12">
                <button class="btn-icon-clipboard" >
                    <div class="row">
                        <div class="col-md-12 sty-font">กองทุนสำรองเลี้ยงชีพ</div>
                    </div>
                </button>
            </div>

            <div class="row-12">
                <button class="btn-icon-clipboard" >
                    <div class="row">
                        <div class="col-md-12 sty-font">สวัสดิการต่างๆ</div>
                    </div>
                </button>
            </div>

            <div class="row-12">
                <button class="btn-icon-clipboard" >
                    <div class="row">
                        <div class="col-md-12 sty-font">Q&A</div>
                    </div>
                </button>
            </div>
        </mat-card>
    </div>
</div>