<!-- <div class="row">
    <div class="container-fluid card align-items-center mb-3 ">
        <h1 class="text-center mt-3">DASHBORD</h1>
    </div>
</div> -->
<div class="row">
    <div class="container-fluid shadow-lg rounded" style="width: 80%;">
        <div id="carousel-example-2" class="carousel slide carousel-fade mt-3 mb-3" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                <li data-target="#carousel-example-2" data-slide-to="2"></li>
                <li data-target="#carousel-example-2" data-slide-to="3"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="view hm-white-slight">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(147).jpg"
                            alt="First slide">
                        <div class="mask"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">First title</h3>
                        <p>First text</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view hm-white-slight">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(151).jpg"
                            alt="Second slide">
                        <div class="mask"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Second title</h3>
                        <p>Second text</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view hm-white-slight">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(152).jpg"
                            alt="Third slide">
                        <div class="mask"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Third title</h3>
                        <p>Third text</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view hm-white-slight">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(152).jpg"
                            alt="Third slide">
                        <div class="mask"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Third title</h3>
                        <p>Third text</p>
                    </div>
                </div>
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
        </div>
    </div>
</div>
<br>
<hr>
<br>
<div class="row rounded mb-2">
    <div class="col-xl-4">

        <div class="card shadow-lg p-2 mb-2">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5  d-flex aling-center">
                    <img class="rounded img-fluid w-100"
                        src="https://th.bing.com/th/id/R33ca98efa960a4f223ed93ec01c8321a?rik=IQ50Q1cjlRxq2A&riu=http%3a%2f%2fcdn.shopify.com%2fs%2ffiles%2f1%2f0033%2f9866%2f4256%2fproducts%2fTab_Demonslayer_copy_1200x1200.png%3fv%3d1567550380&ehk=aZe6jKYUaRvr8BUYihHYb85sYzx%2be1hxQzbQX51uac0%3d&risl=1&pid=ImgRaw">
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 ">
                    <div class="card-body">
                        <h1 class="card-title">NEWS TITLE</h1>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-text d-flex align-items-end flex-column bd-highlight pr-3"><label type="button"
                            class="btn btn-sm btn-outline-secondary">MORE...</label></div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-xl-4">

        <div class="card shadow-lg p-2 mb-2">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5  d-flex aling-center">
                    <img class="rounded img-fluid w-100"
                        src="https://th.bing.com/th/id/R33ca98efa960a4f223ed93ec01c8321a?rik=IQ50Q1cjlRxq2A&riu=http%3a%2f%2fcdn.shopify.com%2fs%2ffiles%2f1%2f0033%2f9866%2f4256%2fproducts%2fTab_Demonslayer_copy_1200x1200.png%3fv%3d1567550380&ehk=aZe6jKYUaRvr8BUYihHYb85sYzx%2be1hxQzbQX51uac0%3d&risl=1&pid=ImgRaw">
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 ">
                    <div class="card-body">
                        <h1 class="card-title">NEWS TITLE</h1>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-text d-flex align-items-end flex-column bd-highlight pr-3"><label type="button"
                            class="btn btn-sm btn-outline-secondary">MORE...</label></div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-xl-4">

        <div class="card shadow-lg p-2 mb-2">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5  d-flex aling-center">
                    <img class="rounded img-fluid w-100"
                        src="https://th.bing.com/th/id/R33ca98efa960a4f223ed93ec01c8321a?rik=IQ50Q1cjlRxq2A&riu=http%3a%2f%2fcdn.shopify.com%2fs%2ffiles%2f1%2f0033%2f9866%2f4256%2fproducts%2fTab_Demonslayer_copy_1200x1200.png%3fv%3d1567550380&ehk=aZe6jKYUaRvr8BUYihHYb85sYzx%2be1hxQzbQX51uac0%3d&risl=1&pid=ImgRaw">
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 ">
                    <div class="card-body">
                        <h1 class="card-title">NEWS TITLE</h1>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-text d-flex align-items-end flex-column bd-highlight pr-3"><label type="button"
                            class="btn btn-sm btn-outline-secondary">MORE...</label></div>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="row rounded mb-2">
    <div class="col-xl-4">

        <div class="card shadow-lg p-2 mb-2">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5  d-flex aling-center">
                    <img class="rounded img-fluid w-100"
                        src="https://th.bing.com/th/id/R33ca98efa960a4f223ed93ec01c8321a?rik=IQ50Q1cjlRxq2A&riu=http%3a%2f%2fcdn.shopify.com%2fs%2ffiles%2f1%2f0033%2f9866%2f4256%2fproducts%2fTab_Demonslayer_copy_1200x1200.png%3fv%3d1567550380&ehk=aZe6jKYUaRvr8BUYihHYb85sYzx%2be1hxQzbQX51uac0%3d&risl=1&pid=ImgRaw">
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 ">
                    <div class="card-body">
                        <h1 class="card-title">NEWS TITLE</h1>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-text d-flex align-items-end flex-column bd-highlight pr-3"><label type="button"
                            class="btn btn-sm btn-outline-secondary">MORE...</label></div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-xl-4">

        <div class="card shadow-lg p-2 mb-2">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5  d-flex aling-center">
                    <img class="rounded img-fluid w-100"
                        src="https://th.bing.com/th/id/R33ca98efa960a4f223ed93ec01c8321a?rik=IQ50Q1cjlRxq2A&riu=http%3a%2f%2fcdn.shopify.com%2fs%2ffiles%2f1%2f0033%2f9866%2f4256%2fproducts%2fTab_Demonslayer_copy_1200x1200.png%3fv%3d1567550380&ehk=aZe6jKYUaRvr8BUYihHYb85sYzx%2be1hxQzbQX51uac0%3d&risl=1&pid=ImgRaw">
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 ">
                    <div class="card-body">
                        <h1 class="card-title">NEWS TITLE</h1>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>