<!-- <p>shop works!</p> -->
<div class="col-12">
    
    <div class="row-6">
      
        <mat-card>
            <div>
                <u><h1>แผนกทรัพยากรมนุษย์</h1></u>
                <label class="line-head"></label>
            </div>
            <div class="row md-12" style="justify-content: center;">
                <div class="col-2">
                    <button mat-button>
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/HRnew.png"><br>
                        </span>
                    </button>
                    <label class="sty-font" style="margin-left: 46px;">HR News</label>
                </div>

                <div class="col-2">
                    <button mat-button>
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/HRIS.png"><br>
                        </span>
                    </button>
                    <br><label class="sty-font" style="margin-left: 63px;">HRIS</label>
                </div>

                <div class="col-2">
                    <button mat-button>
                        <span>
                            <img matListAvatar class="avatar rounded-circle btn-hr mb-1" src="/assets/images/SSO.png"><br>
                        </span>
                    </button>
                    <label class="sty-font">กองทุนประกันสังคม <br>และกองทุนเงินทดแทน</label>
                </div>

                <div class="col-2">
                    <button mat-button>
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/สวัสดิการ.png"><br>
                        </span>
                      </button>
                      <label class="sty-font" style="margin-left: 50px;">สวัสดิการ</label>
                </div>

                <div class="col-2">
                    <button mat-button>
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/ค่านิยม.png"><br>
                            
                        </span>
                      </button>
                      <label class="sty-font" style="margin-left: 33px;">ค่านิยมองค์กร</label>
                </div>
            </div>

            <div class="row md-12" style="justify-content: center;">
                <div class="col-2">
                    <button mat-button>
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/Train&Dev.png"><br>
                            
                        </span>
                    </button>
                    <label class="sty-font" style="margin-left: 24px;">Training<br>& Development</label>
                </div>

                <div class="col-2">
                    <button mat-button>
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/KM.png"><br>
                           
                        </span>
                    </button>
                    <label class="sty-font">Knowledge Management <br>(KM)</label>
                </div>

                <div class="col-2">
                    <button mat-button>
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/pictures.png"><br>
                            
                        </span>
                    </button>
                    <label class="sty-font" style="margin-left: 38px;">ภาพกิจกรรม</label>
                </div>

                <div class="col-2">
                    <button mat-button>
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/form.png"><br>
                            
                        </span>
                    </button>
                    <label class="sty-font" style="margin-left: 33px;">แบบฟอร์มต่างๆ</label>
                </div>

                <div class="col-2">
                    <button mat-button>
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/faq.png"><br>
                        </span>
                      </button>
                      <label class="sty-font" style="margin-left: 29px;">คำถามที่พบบ่อย</label>
                </div>
            </div>

        </mat-card>

    </div>
</div>
