<div class="row">
    <div class="container-fluid">
        <mat-card class="p-5">
                <h1>แผนกทรัพยากรมนุษย์</h1>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/hrnew/form']">
                        <span><img class="rounded-circle btn-hr" src="/assets/images/HRnew.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">HR News</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/hris/form',2]">
                        <span><img class="rounded-circle btn-hr" src="/assets/images/HRIS.png"><br>
                        </span>
                    </button>
                    <br><label class="sty-font">HRIS</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/sso',3]">
                        <span>
                            <img  class="rounded-circle btn-hr"
                                src="/assets/images/SSO.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">กองทุนประกันสังคม <br>และกองทุนเงินทดแทน</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/Welfare',4]">
                        <span><img class="rounded-circle btn-hr" src="/assets/images/สวัสดิการ.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">สวัสดิการ</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/Popularity',5]">
                        <span><img class="rounded-circle btn-hr" src="/assets/images/ค่านิยม.png"><br>

                        </span>
                    </button><br>
                    <label class="sty-font">ค่านิยมองค์กร</label>
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="row" style="justify-content: center;">
                <div class="col-md-1"></div>
                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/training/form']">
                        <span><img class="rounded-circle btn-hr" src="/assets/images/Train&Dev.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">Training<br>& Development</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/km/form']">
                        <span><img class="rounded-circle btn-hr" src="/assets/images/KM.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">Knowledge Management <br>(KM)</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/activity/form',10]">
                        <span><img class="rounded-circle btn-hr" src="/assets/images/pictures.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">ภาพกิจกรรม</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/form',9]">
                        <span><img class="rounded-circle btn-hr" src="/assets/images/form.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">แบบฟอร์มต่างๆ</label>
                </div>

                <!-- <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/Seminar']">
                        <span><img class="rounded-circle btn-hr" src="/assets/images/faq.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">คำถามที่พบบ่อย</label>
                </div> -->
                <div class="col-md-1"></div>
            </div>
        </mat-card>
    </div>
</div>