<div class="row">
    <div class="container-fluid">
        <mat-card class="p-5 ">
            <h1>วารสารโทล์ลเวย์</h1>
            <div style="text-align: right;padding-bottom: 2%;">
                <button mat-button style="background: palegreen;width: 10%;height: 42px;max-width: 100%;" (click)="openDialogJour(20)">
                    <span>
                        <img src="https://image.flaticon.com/icons/png/512/1237/1237946.png"
                            style="width: 10%;">&nbsp;&nbsp;
                        <label>create</label>
                    </span>
                </button>
            </div>
            <div class="btn-icon-clipboard">
                <div class="row" style="padding-right: 5%;padding-left: 5%;padding-top: 2%;">
                    <div class="col-md-4 text-center" *ngFor="let item of data">
                        <a href="https://localhost:44335/{{item.filePath}}" target="_blank">
                            <span><img src="/assets/images/gossip.png"></span>
                        </a><br>
                        <label class="sty-font">{{item.subject}}</label>
                    </div>
                </div>
            </div>            
        </mat-card>
    </div>
</div>