<div class="row">
    <div class="container-fluid">
        <mat-card class="p-5">
            <h1>แผนกสื่อสารองค์กรและกิจกรรมเพื่อสังคม</h1>
            <div class="row" style="justify-content: center;">
                <div class="col-md-2"></div>
                <div class="col-md-2 text-center">
                    <button mat-button  [routerLink]="['/csr/form']">
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/CSGnew.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">CSR News</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button>
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/CSR Activity.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">CSR Activities<br>5 ด้าน</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/PicturecomActivity/16']">
                        <span>
                            <img matListAvatar class="avatar rounded-circle btn-hr mb-1" src="/assets/images/ส่งเสริมการตลาด.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">ส่งเสริมการตลาด <br>/ขอบคุณผู้ใช้ทาง</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/Policycommunicate/form']">
                        <span><img class="avatar rounded-circle btn-hr"
                            src="/assets/images/ระเบียบ.png"><br>
                        </span>
                      </button><br>
                      <label class="sty-font">นโยบาย / ระเบียบ</label>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row" style="justify-content: center;">
                <div class="col-md-3"></div>
                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/Download/form',19]">
                        <span><img class="rounded-circle btn-hr"
                            src="/assets/images/Download.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">ดาวน์โหลด</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button [routerLink]="['/journal/form',20]">
                        <span><img class="rounded-circle btn-hr"
                            src="/assets/images/วารสาร.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">วารสาร <br>โทล์ลเวย์</label>
                </div>

                <div class="col-md-2 text-center">
                    <button mat-button>
                        <span><img class="rounded-circle btn-hr"
                            src="/assets/images/แผนปฏิบัติ.png"><br>
                        </span>
                    </button><br>
                    <label class="sty-font">แผนปฏิบัติการ <br>ประจำปี CSR</label>
                </div>
                <div class="col-md-3 text-center"></div>
            </div>
        </mat-card>
    </div>
</div>
